.ipynb_checkpoints
Machine learning by Thomas Mitchell (z-lib.org).pdf
ML for Trading.ipynb
Machine Learning for Algorithmic Trading Predictive models to extract signals from market and alternative data for systematic trading strategies with Python, 2nd .pdf